.containerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  width: 100vw;
  height: 100px;
  background-color: var(--primaryColor);
  color: var(--fontColor);
  position: fixed;
  z-index: 1;
}

.menu{
  display: flex;
  gap: 10px;
}

.menu__enlaces{
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 100px;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 5px solid transparent;
  transition: all 1s linear;
}

.menu__enlaces:hover{
  border-bottom: 5px solid white;
}

.content{
  padding: 120px 100px;
}
